<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="templates/home-style.css">
  </head>

  <body>
    <div id="content">
        <div style="position:relative; left:200px;">
            <div align="right" class="fade-in-image">
                <img src="templates/images/logo.png" width="500" />
            </div>
            <div style="position:relative; left:80px;" class="fade-in-image">
                <p>Find the perfect study spot today!</p>
            </div>
        </div>
    </div>
</body>