<h1>Reviews for <span id="location-name"></span></h1>
<p>This is an example description of a location. This page would appear when a user clicks on a location on the map (if using a map), or when user clicks on a location on a list. There could be pictures too.</p>


<form id="review-submission-form">
    <h2>Leave a Review</h2>
    <p>Name</p>
    <textarea id="name" name="name"></textarea>
    <p>Rating out of 5</p>
    <textarea id="rating" name="rating"></textarea>
    <p>Review</p>
    <textarea id="description" name="description"></textarea>
    <br/>
    <input type="button" onclick="submitReview()" value="Submit"/>
</form>
<p id="error-message"></p>

<h2>Reviews</h2>

<div id="review-list"></div>

<script src="../reviews.js"></script>