<div class="wrapper">
    <div id="form-wrapper">
        <form id="review-submission-form">
            <textarea id="college-name" name="college-name" class="review-heading" readonly></textarea>
            <br/>
            <textarea id="location-name" name="location-name" class="review-heading" readonly></textarea>

            <div id="leave-review-section">
                <h2 id="leave-review-header">Leave a review!</h2>
                <div id="name-and-rating">
                    <p class="pad">Name <span><input id="name" name="name"></span></p>
                    <p>Rating (out of 5) <span><input id="rating" name="rating"></span></p>
                </div>
                <div id="review-input">
                    <p id="review-input-header">Review</p>
                    <textarea id="description" name="description"></textarea>
                </div>
                <div>
                    <input id="submit-button" type="button" onclick="submitReview()" value="Submit"/>
                </div>
            </div>
        </form>
    </div>
    <p id="error-message"></p>
    <h2>Reviews</h2>
    <div id="review-list"></div>
    
    <script src="../reviews.js"></script>

    <div id="translateBox"></div>

          <script type="text/javascript">
          function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'translateBox');
          }
          </script>

        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
        </script>
</div>