<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/010a5fbcd7.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>




<div class = "all">
    <div class="sidebar">
        <div class="menubar">
            <h1>Welcome to Study Spotter</h1>
            <a class="active" href="#home">Home</a>
            <a href="#ucla">UCLA</a>
            <a href="#ucsd">UCSD</a>
            <div id="content"></div>
        </div>
        <script src="reviews.js"></script>
        <script src="router.js"></script>
    
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.0229700164427!2d-118.4473697845292!3d34.0689254242976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bc85f05c0f65%3A0x25a993585c134837!2sUniversity%20of%20California%2C%20Los%20Angeles!5e0!3m2!1sen!2sus!4v1656377285935!5m2!1sen!2sus"
                width="1100" height="800" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>

    </div>

    <div class="main">

        <body>
            <div class = "titles">
                <h2>Suggested:</h2>
            </div>
            <div class="exp">
                
            <div class="card">
                <h3>
                    Engineering 235
                </h3>
                <p>
                    Quiet Lecture Hall; 3-5PM
                </p>
                <p>
                    This location is behind Moore Hall. It has a projector. Can seat up to 20 people.
                </p>

            </div>



            </div>

            <br />
            <div class = "titles">
            <h2>Saved Spots: </h2>
        </div>

            <div class="proj">
                <div class="card">

                    <h3>
                        Powell Libarary
                    </h3>
                    <p>

                    </p>
                </div>

                <div class="card">

                    <h3>
                        Sprounge
                    </h3>
                </div>

                <div class="card">
                    <h3>
                        Kirchoff Cafe
                    </h3>
                </div>


                <div class="card">
                    <h3>
                        Engineering IV
                    </h3>
                </div>

                <div class="card">
                    <h3>
                        Broad Art Center
                    </h3>
                </div>

                <br />
            </div>

        </body>
    </div>
</div>

</html>

